.ms_card-box {
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;
    margin-bottom: 20px;

    &:hover .ms_hover {
        display: block;
    }

    img {
        width: 100%;
    }

    .ms_hover {
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        height: 100%;
        color: #fff;
        overflow-y: auto;
        display: none;

        p {
            margin: 0;
            font-size: 20px;

            img {
                width: 40px;

            }
        }

        strong {
            font-size: 25px;
            margin-right: 10px;
        }
    }
}